.outerFrame {
  background-color: #c2bcbc;
  min-height: 100vh;
  width: 100vw;
}

.innerFrame {
  background-color: white;
  padding: 0 0;
  margin: auto;
  max-width: 42rem;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonSignin {
  background-color: aquamarine;
  border-radius: 0.25rem;
  padding: 0.2rem 0.3rem;
  margin-right: 1rem;
}

.buttonSignup {
  padding: 0.2rem 0.3rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}
